<div class="card card-body p-4 rounded-3 bg-dark text-white">
  <h3 class="text-center mb-3">Agrege un Libro</h3>
  <form action="/libros/add" method="POST">

  <div class="">
    <label for="title">Escriba un titulo:</label>
    <input type="text" name="title" placeholder="Titulo" id="title" class="form-control rounded-3 bg-dark text-white"/>
  </div>

  <div class="">
    <label for="author">Escriba un autor:</label>
    <input type="text" name="author" placeholder="Autor" id="author" class="form-control rounded-3 bg-dark text-white"/>

  </div>

  <div>
    <label for="date">Año en que se publico:</label>
    <input type="number" name="date" placeholder="Año" id="date" class="form-control rounded-3 bg-dark text-white"/>

  </div>

<div class="text-center">
    <button class="btn btn-outline-primary btn-sm mt-3 col-5">Agregar</button>
</div>
</form>
</div>